APP_NAME=Spark
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_KEY=

LOG_LEVEL=debug
LOG_CHANNEL=file

DB_CONNECTION=sqlite
DB_DATABASE=storage/database.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
